@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,900&display=swap'); */
body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

.card {
    width: 400px;
    border: none;
}

.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #00FFFF;
    background-color: #301934;
    border-color: ##301934;
}

.btn-dark:hover {
    background-color: #00FFFF;
    color:  #301934 !important;
    border-color: #00FFFF
}

.nav-pills {
    display: table !important;
    width: 100%;
}

.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid;
    background-color: #301934 !important;
    color: #00FFFF !important;
}

.nav-pills:hover .nav-link:hover{
    border-radius: 0px;
    border-bottom: 1px solid;
    background-color: #00FFFF !important;
    color:  #301934 !important;
    float: none;
    display: block;
}


.nav-item {
    display: table-cell;
}

.form {
    padding: 10px;
    height: 390px
}

.form input {
    margin-bottom: 12px;
    border-radius: 3px
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
